div{
  padding:30px;
  border: 1px solid black;
  width:400px;
  text-align: center;
}
.redux, .mvc, .redux-listener, .redux-rxJs, .ng-rx, .flux{
    display:block;

}
app-mvc-counter, app-mvc-rx-counter, app-redux-counter, app-counter-listener, 
app-counter-rxjs, app-flux-counter, app-ng-rx-counter{
  display:block;
}
