<div class="mvc">
  Simple Mvc 
  <app-mvc-counter></app-mvc-counter>
</div>

<div class="mvc">
  Listener Mvc
  <app-mvc-listener-counter></app-mvc-listener-counter>
</div>

<div class="mvc">
  Rx-js Mvc 
  <app-mvc-rx-counter></app-mvc-rx-counter>
</div>

<div class="flux">
  Flux
  <app-flux-counter></app-flux-counter>
</div>

<div class="redux">
  Redux 
  <app-redux-counter></app-redux-counter>
</div>

<div class="redux-listener">
  Redux + Listeners
  <app-counter-listener></app-counter-listener>
</div>

<div class="redux-rxJs">
  Redux + Rx-Js
  <app-counter-rxjs></app-counter-rxjs>
</div>

<div class="ng-rx">
  Ng - Rx
  <app-ng-rx-counter></app-ng-rx-counter>
</div>
